# virtual environment
MLforLRJs/

# data files (large — store separately)
data/

# jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
